.tip {
  width: 100%;

  display: flex;
  padding: 1rem;
  gap: 1rem;
  background-color: #EBEBFC;
  border-radius: 0.62rem;
  color: #4F4FB9;
  align-items: center;
}

.tip > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tip > h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.tip > p {
  font-size: 1rem;
}

.tip > img {
  height: 2rem;
}