.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  height: 3.75rem;
}

.container > header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 3.25rem 0;
}

.container > header > span {
  font-size: 1.12rem;
  color: #9B9B9B;
}

.container > header > span > strong {
  font-size: 1.37rem;
  color: #E8891C;
}

.container > header > button {
  background: transparent;
  border: none;
}

.container > header > button > img {
  height: 2rem;
  transition: scale 0.5s, filter 0.5s;
}

.container > header > button:hover > img {
  scale: 1.3;
  filter: brightness(1.3);
}