:root {
  --background-color: #F5F5FA;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Noto Sans", sans-serif;
  padding: 4rem 1rem;
}

input,
button {
  font-family: "Noto Sans", sans-serif;
  outline: none;
}

button {
  cursor: pointer;
  transition: filter 0.3s;
}

button:hover {
  filter: brightness(0.9);
}